img{
    margin-right: 50px;
}

.ai{
    width: 200px;
    border-radius: 20px;
}

.daftpunk{
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.todd{
    border-radius: 50%;
}
